<style>
  .hm {
    background-image: url('assets/img/welcome.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
  }
</style>

<app-navbar></app-navbar>

<div class="hm">

  <div class="row">
    <div class="col-md-4"></div>

    <div class="col-md-4">
      <div class="card input-group-addon">
        <div class="card-body">

          <!-- Title -->
          <h3 class="text-center text-primary" *ngIf="!form.data.id">
            Add Live Streaming
          </h3>

          <h3 class="text-center text-primary" *ngIf="form.data.id > 0">
            Update Live Streaming
          </h3>

          <!-- Success Message -->
          <div *ngIf="!form.error && form.message"
               class="alert alert-success text-center">
            {{ form.message }}
          </div>

          <!-- Error Message -->
          <div *ngIf="form.error && form.message"
               class="alert alert-danger text-center">
            {{ form.message }}
          </div>

          <!-- Stream Code -->
          <span><b>Stream Code</b> <span style="color:red">*</span></span>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-code"></i>
              </div>
            </div>

            <input type="text"
                   class="form-control"
                   name="streamCode"
                   [(ngModel)]="form.data.streamCode"
                   placeholder="Enter Stream Code">
          </div>

          <small class="text-danger">
            {{ form.inputerror.streamCode }}
          </small>

          <!-- Streamer Name -->
          <span class="mt-2 d-block">
            <b>Streamer Name</b> <span style="color:red">*</span>
          </span>

          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-user"></i>
              </div>
            </div>

            <input type="text"
                   class="form-control"
                   name="streamerName"
                   [(ngModel)]="form.data.streamerName"
                   placeholder="Enter Streamer Name">
          </div>

          <small class="text-danger">
            {{ form.inputerror.streamerName }}
          </small>

          <!-- Viewers Count -->
          <span class="mt-2 d-block">
            <b>Viewers Count</b> <span style="color:red">*</span>
          </span>

          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-users"></i>
              </div>
            </div>

            <input type="text"
                   class="form-control"
                   name="viewersCount"
                   [(ngModel)]="form.data.viewersCount"
                   placeholder="Enter Viewers Count">
          </div>

          <small class="text-danger">
            {{ form.inputerror.viewersCount }}
          </small>

          <!-- Status -->
          <span class="mt-2 d-block">
            <b>Status</b> <span style="color:red">*</span>
          </span>

          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-signal"></i>
              </div>
            </div>

            <select class="form-control"
                    name="status"
                    [(ngModel)]="form.data.status">

              <option value="undefined">
                ------------Select------------
              </option>

              <option value="Live">Live</option>
              <option value="Offline">Offline</option>

            </select>
          </div>

          <small class="text-danger">
            {{ form.inputerror.status }}
          </small>

          <!-- Buttons -->
          <div class="text-center mt-3">

            <button class="btn btn-success btn-md"
                    (click)="submit()">
              Save
            </button>

            &nbsp;

            <button class="btn btn-warning btn-md"
                    (click)="forward('LiveStreaminglist')">
              List
            </button>

          </div>

        </div>
      </div>
    </div>

    <div class="col-md-4"></div>
  </div>

</div>

<app-footer></app-footer>