<style type="text/css">
  .log1 {
    padding-top: 5%;
  }

  .input-group-addon {
    box-shadow: 9px 8px 7px #001a33;
  }

  .grad {
    background-image: linear-gradient(to bottom right, white, grey);
    background-repeat: no-repeat;
    background-size: 100%;
  }

  
</style>

<body class="p4">

  <!-- <app-header></app-header> -->

  <main>
    <div class="row log1">

      <div class="col-md-4"></div>

      <div class="col-md-4">
        <div class="card input-group-addon grad">
          <div class="card-body">

            <h3 class="text-center text-dark"><b>Login</b></h3>

            <!-- Success Message -->
            <H4 align="center">
              <div class="alert alert-success alert-dismissible" *ngIf="!form.error && form.message">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ form.message }}
              </div>
            </H4>

            <!-- Error Message -->
            <H4 align="center">
              <div class="alert alert-danger alert-dismissible" *ngIf="form.error && form.message">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ form.message }}
              </div>
            </H4>

            <div>
              <input type="hidden" name="id" [value]="form.data.id">
            </div>

            <!-- Login ID -->
            <span class="pl-sm-5"><b>Login Id</b> <span style="color: red;">*</span></span><br>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-envelope grey-text" style="font-size: 1rem;"></i>
                  </div>
                </div>
                <input
                  type="text"
                  class="form-control input-group-addon"
                  name="loginId"
                  placeholder="Enter Login ID"
                  [(ngModel)]="form.data.loginId">
              </div>
            </div>
            <font color="red" class="pl-sm-5">{{ form.inputerror.loginId }}</font><br><br>

            <!-- Password -->
            <span class="pl-sm-5"><b>Password</b> <span style="color: red;">*</span></span><br>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-lock grey-text" style="font-size: 1rem;"></i>
                  </div>
                </div>
                <input
                  type="password"
                  class="form-control input-group-addon"
                  name="password"
                  placeholder="Enter Password"
                  [(ngModel)]="form.data.password">
              </div>
            </div>
            <font color="red" class="pl-sm-5">{{ form.inputerror.password }}</font><br><br><br>

            <!-- Buttons -->
            <div class="text-center">
              <button class="btn btn-success" style="font-size: 17px;" (click)="signIn()">Sign In</button>
              &nbsp;
              <button class="btn btn-primary" style="font-size: 17px;" (click)="signUp()">Sign Up</button>
            </div>

            <!-- Forgot Password -->
            <div class="text-center">
              <a [routerLink]="['/forgotpassword']" style="color: black; font-size: 15px;">
                <b><u>Forget my password ?</u></b>
              </a>
            </div>

          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4"></div>

    </div>
  </main>

  <!-- <app-footer></app-footer> -->

</body>