<style>
  .hm {
    background-image: url('assets/img/welcome.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
  }
</style>

<app-navbar></app-navbar>

<div class="hm">

  <div class="row">
    <div class="col-md-4"></div>

    <div class="col-md-4">
      <div class="card input-group-addon">
        <div class="card-body">

          <!-- Title -->
          <h3 class="text-center text-primary" *ngIf="!form.data.id">
            Add Broker
          </h3>

          <h3 class="text-center text-primary" *ngIf="form.data.id > 0">
            Update Broker
          </h3>

          <!-- Success Message -->
          <div *ngIf="!form.error && form.message"
               class="alert alert-success text-center">
            {{ form.message }}
          </div>

          <!-- Error Message -->
          <div *ngIf="form.error && form.message"
               class="alert alert-danger text-center">
            {{ form.message }}
          </div>

          <!-- Broker ID -->
          <span><b>Broker ID</b> <span style="color:red">*</span></span>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-id-card"></i>
              </div>
            </div>
            <input type="text"
                   class="form-control"
                   name="brokerId"
                   [(ngModel)]="form.data.brokerId"
                   placeholder="Enter Broker ID">
          </div>
          <small class="text-danger">{{ form.inputerror.brokerId }}</small>

          <!-- Broker Name -->
          <span class="mt-2 d-block">
            <b>Broker Name</b> <span style="color:red">*</span>
          </span>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-user"></i>
              </div>
            </div>
            <input type="text"
                   class="form-control"
                   name="brokerName"
                   [(ngModel)]="form.data.brokerName"
                   placeholder="Enter Broker Name">
          </div>
          <small class="text-danger">{{ form.inputerror.brokerName }}</small>

          <!-- Contact Number -->
          <span class="mt-2 d-block">
            <b>Contact Number</b> <span style="color:red">*</span>
          </span>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-phone"></i>
              </div>
            </div>
            <input type="text"
                   class="form-control"
                   name="contactNumber"
                   [(ngModel)]="form.data.contactNumber"
                   maxlength="10"
                   placeholder="Enter Contact Number">
          </div>
          <small class="text-danger">{{ form.inputerror.contactNumber }}</small>

          <!-- Company -->
          <span class="mt-2 d-block">
            <b>Company</b> <span style="color:red">*</span>
          </span>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-building"></i>
              </div>
            </div>
            <input type="text"
                   class="form-control"
                   name="company"
                   [(ngModel)]="form.data.company"
                   placeholder="Enter Company Name">
          </div>
          <small class="text-danger">{{ form.inputerror.company }}</small>

          <!-- Buttons -->
          <div class="text-center mt-3">

            <button class="btn btn-success btn-md"
                    (click)="submit()">
              Save
            </button>

            &nbsp;

            <button class="btn btn-warning btn-md"
                    (click)="forward('BrokerList')">
              List
            </button>

          </div>

        </div>
      </div>
    </div>

    <div class="col-md-4"></div>
  </div>

</div>

<app-footer></app-footer>