<style>
  .hm {
    background-image: url('assets/img/welcome.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
  }
</style>

<app-navbar></app-navbar>

<div class="hm">

  <div class="row">
    <div class="col-md-4"></div>

    <div class="col-md-4">
      <div class="card input-group-addon">
        <div class="card-body">

          <!-- Title -->
          <h3 class="text-center text-primary" *ngIf="!form.data.id">
            Add Faculty
          </h3>

          <h3 class="text-center text-primary" *ngIf="form.data.id > 0">
            Update Faculty
          </h3>

          <!-- Success Message -->
          <div *ngIf="!form.error && form.message"
               class="alert alert-success text-center">
            {{ form.message }}
          </div>

          <!-- Error Message -->
          <div *ngIf="form.error && form.message"
               class="alert alert-danger text-center">
            {{ form.message }}
          </div>

          <!-- First Name -->
          <span><b>First Name</b> <span style="color:red">*</span></span>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa fa-user"></i></div>
            </div>
            <input type="text" class="form-control"
                   name="firstName"
                   [(ngModel)]="form.data.firstName"
                   placeholder="Enter First Name">
          </div>
          <small class="text-danger">{{ form.inputerror.firstName }}</small>

          <!-- Last Name -->
          <span class="mt-2 d-block"><b>Last Name</b> <span style="color:red">*</span></span>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa fa-user-circle"></i></div>
            </div>
            <input type="text" class="form-control"
                   name="lastName"
                   [(ngModel)]="form.data.lastName"
                   placeholder="Enter Last Name">
          </div>
          <small class="text-danger">{{ form.inputerror.lastName }}</small>

          <!-- Email -->
          <span class="mt-2 d-block"><b>Email</b> <span style="color:red">*</span></span>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa fa-envelope"></i></div>
            </div>
            <input type="text" class="form-control"
                   name="email"
                   [(ngModel)]="form.data.email"
                   placeholder="Enter Email ID">
          </div>
          <small class="text-danger">{{ form.inputerror.email }}</small>

          <!-- DOB -->
          <span class="mt-2 d-block"><b>Date of Birth</b> <span style="color:red">*</span></span>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
            <input type="date" class="form-control"
                   name="dob"
                   [(ngModel)]="form.data.dob"
                   [ngModel]="form.data.dob | date:'yyyy-MM-dd'">
          </div>
          <small class="text-danger">{{ form.inputerror.dob }}</small>

          <!-- Gender -->
          <span class="mt-2 d-block"><b>Gender</b> <span style="color:red">*</span></span>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa fa-venus-mars"></i></div>
            </div>
            <select class="form-control"
                    name="gender"
                    [(ngModel)]="form.data.gender">
              <option value="undefined">------------Select------------</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>
          <small class="text-danger">{{ form.inputerror.gender }}</small>

          <!-- Mobile -->
          <span class="mt-2 d-block"><b>Mobile No</b> <span style="color:red">*</span></span>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa fa-phone"></i></div>
            </div>
            <input type="text" class="form-control"
                   name="phoneNo"
                   [(ngModel)]="form.data.phoneNo"
                   maxlength="10"
                   placeholder="Enter Mobile No">
          </div>
          <small class="text-danger">{{ form.inputerror.phoneNo }}</small>

          <!-- Qualification -->
          <span class="mt-2 d-block"><b>Qualification</b> <span style="color:red">*</span></span>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa fa-graduation-cap"></i></div>
            </div>
            <input type="text" class="form-control"
                   name="qualification"
                   [(ngModel)]="form.data.qualification"
                   placeholder="Enter Qualification">
          </div>
          <small class="text-danger">{{ form.inputerror.qualification }}</small>

          <!-- College -->
          <span class="mt-2 d-block"><b>College</b> <span style="color:red">*</span></span>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa fa-university"></i></div>
            </div>
            <select class="form-control"
                    name="collegeId"
                    [(ngModel)]="form.data.collegeId">
              <option value="undefined">------------Select------------</option>
              <option *ngFor="let obj of form.preload.collegeList" [value]="obj.key">
                {{ obj.value }}
              </option>
            </select>
          </div>
          <small class="text-danger">{{ form.inputerror.collegeId }}</small>

          <!-- Course -->
          <span class="mt-2 d-block"><b>Course</b> <span style="color:red">*</span></span>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa fa-book"></i></div>
            </div>
            <select class="form-control"
                    name="courseId"
                    [(ngModel)]="form.data.courseId">
              <option value="undefined">------------Select------------</option>
              <option *ngFor="let obj of form.preload.courseList" [value]="obj.key">
                {{ obj.value }}
              </option>
            </select>
          </div>
          <small class="text-danger">{{ form.inputerror.courseId }}</small>

          <!-- Subject -->
          <span class="mt-2 d-block"><b>Subject</b> <span style="color:red">*</span></span>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa fa-book-open"></i></div>
            </div>
            <select class="form-control"
                    name="subjectId"
                    [(ngModel)]="form.data.subjectId">
              <option value="undefined">------------Select------------</option>
              <option *ngFor="let obj of form.preload.subjectList" [value]="obj.key">
                {{ obj.value }}
              </option>
            </select>
          </div>
          <small class="text-danger">{{ form.inputerror.subjectId }}</small>

          <!-- Buttons -->
          <div class="text-center mt-3">

            <button class="btn btn-success btn-md"
                    (click)="submit()">
              Save
            </button>

            &nbsp;

            <button class="btn btn-warning btn-md"
                    (click)="forward('facultylist')">
              List
            </button>

          </div>

        </div>
      </div>
    </div>

    <div class="col-md-4"></div>
  </div>

</div>

<app-footer></app-footer>